#changelog_table,
.dashboard-table {
    table-layout: fixed;
}

#changelog_table tbody tr {
    cursor: auto;
}

#changelog_table tbody tr:hover {
    background: transparent;
}

#changelog_table tbody tr:hover  .changelog-content-container{
    height: 100px;
    padding: 1em;
    transition: all .5s ease-in-out;
}

#changelog_table tbody tr:hover .changelog-info-container {
    padding-top: 1.5em;
}

#changelog_table tbody tr:hover {
}

.changelog-title-container {
    text-align: center;
    margin: 1.5em 0 1em 0;
}

.changelog-title {
    padding-left: 1em;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.changelog-title:hover {
    text-decoration: none;
    color: #58bdd1;
    transition: all .3s ease-out;
}

.changelog-title:hover {
    text-decoration: none;
}

.changelog-content-container {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0em;
    font-size: .9rem;
    max-height: 100px;
    height: 0px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
}

.changelog-content-container::-webkit-scrollbar {
    background-color: #b7e9f2;
    width: 10px;
    border-radius: 10px;
}
.changelog-content-container::-webkit-scrollbar:active {
    background-color: #9be3f0;
}

.changelog-content-container::-webkit-scrollbar-thumb {
    background: #ac2790;
    border-radius: 10px;
}

.changelog-content-container::-webkit-scrollbar-thumb:hover {
    background: #88096d;
}

.changelog-content {
    text-align: justify;
}

.changelog-content p {
    display: inline-block;
}

.changelog-info-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0em;
}

.changelog-date-container {
    padding: 0 1em 1em 0;
}

.changelog-category-container {
    padding: 0 0 1em 1em;
}

.changelog-category-link {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 400;
}

.changelog-category-link:hover {
    text-decoration: none;
    color: #58bdd1;
    transition: all .3s ease-out;
}

.changelog-date-container {
    font-size: 1rem;
}

.changelog-date-container:hover {
    color: #888;
    transition: all .3s ease-out;
}