<?xml version="1.0"?>
<config>
    <tabs>
        <changelog translate="label">
            <label>Changelog</label>
            <sort_order>1</sort_order>
        </changelog>
    </tabs>
    <sections>
        <changelog translate="label" module="adminhtml">
            <label>Changelog</label>
            <sort_order>1200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_store>1</show_in_store>
            <show_in_website>1</show_in_website>
            <tab>general</tab>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_store>1</show_in_store>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <enabled translate="label">
                            <label>Active</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <category translate="label">
                            <label>Category</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>changelog/system_config_source_loadCategories</source_model>
                            <depends><enabled>1</enabled></depends>
                        </category>
                        <url translate="label">
                            <label>Url</label>
                            <comment>www.blog.com</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <frontend_type>text</frontend_type>
                            <depends><enabled>1</enabled></depends>
                        </url>
                        <wplogin>
                            <label>User</label>
                            <comment>Wordpress User</comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <frontend_type>text</frontend_type>
                            <depends><enabled>1</enabled></depends>
                        </wplogin>
                        <wppassword translate="label">
                            <label>Password</label>
                            <comment>Wordpress application password</comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <frontend_type>password</frontend_type>
                            <depends><enabled>1</enabled></depends>
                        </wppassword>
                        <gridoptions translate="label">
                            <label>Grid Columns</label>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>changelog/system_config_source_loadColumns</source_model>
                            <depends><enabled>1</enabled></depends>
                        </gridoptions>
                    </fields>
                </settings>
            </groups>
        </changelog>
    </sections>
</config>